body{
    background-image: url('bg.jpg');
    transition: background-image 0.5s ease-in;
}


.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    color:#fff;
    height: 100vh;
}

.time {
    font-size: 6rem;    
}